.wy-nav-content {
    max-width: 100% !important;
    width: 100% !important;
    padding: 2rem !important;
}

.wy-nav-content-wrap {
    max-width: 100% !important;
    margin: 0 !important;
}

.rst-content {
    max-width: 100% !important;
}
