/* Contenu principal */
.wy-nav-content {
    max-width: 100% !important;
    width: 200% !important;
}

/* Wrapper qui limite la largeur */
.wy-nav-content-wrap {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* Contenu interne de la documentation */
.rst-content {
    max-width: 100% !important;
    width: 100% !important;
}

/* Conteneur global de RDT */
.wy-grid-for-nav {
    max-width: 100% !important;
    width: 100% !important;
}

/* Pour que la sidebar ne pousse pas le contenu */
.wy-body-for-nav {
    max-width: 100% !important;
}
